header {
    display: flex;
    justify-content: space-between;
}
header img {
    max-width: 20px;
    max-height: 20px;
}

header a {
    padding-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav {
    display: flex;
    margin-right: 30px;
    text-align: right;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 70px;
    padding-left:  70px;

}

button {
    border-radius: 30px;
    background-color: transparent;
    border: solid 1px black;
}
.boton-compra {
    color: white;
    border-color: white;
    margin-top: 70px;
}
button:hover {
    background-color: black;
    color: white;
}
.boton-compra:hover {
    background-color: white;
    color: red;
}
a {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: currentColor;
}

.link {
    text-decoration: underline;
    font-weight: lighter;
    color: white;
}

section {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: Geneva;
}
.section1{
    background-color: rgb(10, 81, 50) ;
    padding: 60px;
}

.section2 {
    display: flex;
    background-color: red;
}

section img {
    height: 100%;
    width: 50%;
}
section div{
    width: 50%;
}

footer {
    border-top: 1px solid #bbbaba;
    margin: 15px;
    font-size: 12px;

}