header {
    display: flex;
    justify-content: space-between;
}
#verde {
    color: white;
    text-align: center;
    background-color: #006241;
}
#uno{
    color: white;
    text-align: center;
    display: flex;
    background-color: #D40032;
    height:
}
.suno{
    width: 50%;
}
.xolo{
    height:50%;
}