#cuerpo{
    background-color: rgb(101, 191, 169);
}
#encabezado {
    text-align: center;
    color: rgb(187, 214, 190);
    background-color: rgb(37, 34, 35);
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /*padding:30px 30px 15px 30px;*/
}

#navegador {
    color: rgb(37, 34, 35);
    background-color: rgb(187, 214, 192);
    height: 25px;
    /*use el display flex para que acomodara los elementos en horizontal*/
    display: flex;
    /*use el justify-content*/
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left:  40px;
    
    /*margin: 0px -20px 0px -25px;*/
}

a{
    text-decoration: none;
}
a:link{
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: yellow;
}
a:active {
    color: orange;
}

#partemedia {
    background-color: blueviolet;
    text-align: center;
    display: flex;
    margin: 0px 5px 5px 5px;
    border: 5px;
    border: solid;
    border-color: #C7DDCC;
    
    /*padding:30px 30px 15px 30px;*/
}

#encabezadonivel {
    width: 80%;
    background-color: rgb(25, 147, 208);*
    border: 5px;
    border: solid;
    border-color: #C7DDCC;
    /*text-align: center;*/
    /*color: rgb(0, 0, 0);*/
    /*border-style: solid;*/
    /*border-color: rgb(187, 214, 192);*/
    /*border-radius: 0%;*/
    /*border-width: 5px;*/
    /*margin: 30px;*/
    /*padding: 20px 25px;*/
    /*height: 100px;*/

}

#apartado {
    width: 20%;
    background-color: rgb(205, 0, 119);
    border: 5px;
    border: solid;
    border-color: #C7DDCC;
    padding-bottom: 20px;
    /*text-align: center;*/
    /*color: rgb(0, 0, 0);*/
    /*border-style: solid;*/
    /*border-color: rgb(187, 214, 192);*/
    /*border-radius: 0%;*/
    /*border-width: 5px;*/
    /*height: 100px;*/
    
}

#piedepagina {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(219, 210, 16);
    margin: 5px 5px 5px 5px ;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left:  40px;
    

    
}